html {
    font-family: Papyrus, "fantasy", "Comic Sans MS", "Comic Sans", Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
}

.backgroundContainer {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: rotate(340deg);
}
table, td {
    border: 1px solid #000000;
    background-color: #FFFFFF;
}
td {
    width: 16%;
}
input {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}